    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Blocipedia</h1>
        <p>Welcome to Blocipedia. The world's first and greatest way to create private wikis, share wikis, and colloborate.</p>
          <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        </p>
      </div>
    </div> <!-- /container -->

